<div class="inlineFlex pointerCursor alignRight paddingPost w-50">

    <div *ngFor="let reaction of reactions">

        <!-- for posts !-->

        <div *ngIf="reactionForComment == false && post.postId === reaction.postId && username === reaction.username &&
            reaction.reactionType === 'DOWNVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons material-icons-checked" (click)="vote('DOWNVOTE', post.postId,
                null)">south</span>

                <div> {{post.reactionCount}} </div>

                <span class="material-icons" (click)="vote('UPVOTE', post.postId, null)">north</span>

            </div>

        </div>

        <div *ngIf="reactionForComment == false && post.postId === reaction.postId && username === reaction.username &&
            reaction.reactionType === 'UPVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons" (click)="vote('DOWNVOTE', post.postId, null)">south</span>

                <div> {{post.reactionCount}} </div>

                <span class="material-icons material-icons-checked"
                      (click)="vote('UPVOTE', post.postId, null)">north</span>

            </div>

        </div>

        <div *ngIf="reactionForComment == false && post.postId === reaction.postId && username === reaction.username &&
            reaction.reactionType !== 'UPVOTE' && reaction.reactionType !== 'DOWNVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons" (click)="vote('DOWNVOTE', post.postId, null)">
                    south</span>

                <div> {{post.reactionCount}} </div>

                <span class="material-icons" (click)="vote('UPVOTE', post.postId, null)">
                    north</span>
            </div>

        </div>

        <!-- for comments !-->

        <div *ngIf="reactionForComment && comment.commentId === reaction.commentId && username === reaction.username &&
            reaction.reactionType === 'DOWNVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons material-icons-checked" (click)="vote('DOWNVOTE', null, comment.commentId)">south</span>

                <div> {{comment.reactionCount}} </div>

                <span class="material-icons" (click)="vote('UPVOTE', null, comment.commentId)">north</span>

            </div>

        </div>

        <div *ngIf="reactionForComment && comment.commentId === reaction.commentId && username === reaction.username &&
            reaction.reactionType === 'UPVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons" (click)="vote('DOWNVOTE', null, comment.commentId)">
                    south</span>

                <div> {{comment.reactionCount}} </div>

                <span class="material-icons material-icons-checked" (click)="vote('UPVOTE', null,
                    comment.commentId)">north</span>

            </div>

        </div>

        <div *ngIf="reactionForComment && comment.commentId === reaction.commentId && username === reaction.username &&
            reaction.reactionType !== 'UPVOTE' && reaction.reactionType !== 'DOWNVOTE'">

            <div class="inlineFlex gapNormal pointerCursor alignRight w-100">

                <div [innerHtml]="setFound(true)" hidden></div>

                <span class="material-icons" (click)="vote('DOWNVOTE', null, comment.commentId)">
                    south</span>

                <div> {{comment.reactionCount}} </div>

                <span class="material-icons" (click)="vote('UPVOTE', null, comment.commentId)">
                    north</span>

            </div>

        </div>

    </div>

    <div *ngIf="isFound == false">

        <!-- for posts !-->

        <div *ngIf="reactionForComment == false" class="inlineFlex gapNormal pointerCursor alignRight w-100">

            <span class="material-icons" (click)="vote('DOWNVOTE', post.postId, null)">south</span>

            <div> {{post.reactionCount}} </div>

            <span class="material-icons" (click)="vote('UPVOTE', post.postId, null)">north</span>

        </div>

        <!-- for comments !-->

        <div *ngIf="reactionForComment" class="inlineFlex gapNormal pointerCursor alignRight w-100">

            <span class="material-icons" (click)="vote('DOWNVOTE', null, comment.commentId)">
                south</span>

            <div> {{comment.reactionCount}} </div>

            <span class="material-icons" (click)="vote('UPVOTE', null, comment.commentId)">north</span>

        </div>

    </div>


</div>
