<div class="modal fade" tabindex="-1" id="btnChangePassword" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100">Change password</h4>

            </div>

            <div class="modal-body">

                <!--/*@thymesVar id="changePasswordForm" type=""*/-->

                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">


                    <label for="userPassword">Old password:</label>

                    <input [ngClass]="[!changePasswordForm.get('userPassword').valid &&
                        changePasswordForm.get('userPassword').touched ? 'form-control is-invalid':'form-control']"
                           type="password" name="userPassword" id="userPassword" placeholder="Old password"
                           [formControlName]="'userPassword'">

                    <div *ngIf="!changePasswordForm.get('userPassword').valid &&
                        changePasswordForm.get('userPassword').touched" id="userPasswordFeedback"
                         class="invalid-feedback">

                        Please provide a valid password

                    </div>

                    <label for="userNewPassword">New password:</label>

                    <input [ngClass]="[!changePasswordForm.get('userNewPassword').valid &&
                        changePasswordForm.get('userNewPassword').touched ? 'form-control is-invalid':'form-control']"
                           type="password" [formControlName]="'userNewPassword'" name="userNewPassword"
                           id="userNewPassword" placeholder="New password">

                    <div *ngIf="!changePasswordForm.get('userNewPassword').valid &&
                        changePasswordForm.get('userPassword').touched" id="userNewPasswordFeedback"
                         class="invalid-feedback">

                        Please provide a valid new password

                    </div>

                    <label for="userNewPasswordRepeated">Repeat new password:</label>

                    <input [ngClass]="[!(changePasswordForm.get('userNewPassword').value ===
                    changePasswordForm.get('userNewPasswordRepeated').value) && changePasswordForm.get('userNewPasswordRepeated').touched ?
                    'form-control is-invalid':'form-control']" type="password"
                           [formControlName]="'userNewPasswordRepeated'" name="userNewPasswordRepeated"
                           id="userNewPasswordRepeated" placeholder="Repeat new password">

                    <div *ngIf="!(changePasswordForm.get('userNewPasswordRepeated').value ===
                    changePasswordForm.get('userNewPassword').value) &&
                    changePasswordForm.get('userNewPasswordRepeated').touched"
                         id="userNewPasswordRepeatedFeedback" class="invalid-feedback">

                        New password are not matching

                    </div>

                    <div class="inlineFlex gapNormal w-100 marginTopDefault alignRight">

                        <input type="button" id="btnCancel" class="btn btn-light btn-sm w-50"
                               data-dismiss="modal" value="Cancel"/>

                        <input type="submit" id="btnSavePassword" class="btn btn-primary btn-sm w-50"
                               [disabled]="changePasswordForm.invalid ||
                               !(changePasswordForm.get('userNewPasswordRepeated').value ===
                               changePasswordForm.get('userNewPassword').value) ||
                               (changePasswordForm.get('userNewPasswordRepeated').value ===
                               changePasswordForm.get('userPassword').value)" value="Change password"/>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>