.button-text-gray-600 {
	margin: 10px;
	font-family: Raleway;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1.3px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(84, 110, 122, 1);
	padding: 0px 0px 0px 0px;
	border-radius: 4px;
	border: 0;
}