<div class="container-fluid paddingNormal w-50">

    <form [formGroup]="createEditCommunityForm" (ngSubmit)="communityId == null ? createCommunity() : editCommunity()">

        <label *ngIf="communityId == null" for="name">Community name:</label>

        <input *ngIf="communityId == null"
               [ngClass]="[!createEditCommunityForm.get('name').valid && createEditCommunityForm.get('name').touched ?
           'form-control is-invalid':'form-control']" type="text" name="name" id="name" [formControlName]="'name'">

        <div *ngIf="!createEditCommunityForm.get('name').valid && createEditCommunityForm.get('name').touched"
             id="nameFeedback" class="invalid-feedback">

            Please provide a valid community name

        </div>

        <label for="description">Description:</label>

        <textarea [ngClass]="[!createEditCommunityForm.get('description').valid &&
            createEditCommunityForm.get('description').touched ? 'form-control is-invalid':'form-control']"
                  [formControlName]="'description'" id="description" name="description"
                  rows="4"></textarea>

        <div *ngIf="!createEditCommunityForm.get('description').valid &&
            createEditCommunityForm.get('description').touched" id="textFeedback" class="invalid-feedback">

            Please provide a valid description

        </div>

        <label for="flairs">Flairs:</label>

        <div class="d-flex flex-row gapNormal">
            <div class="w-75">
                <ng-multiselect-dropdown
                        id="flairs"
                        [placeholder]="'Select flairs'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        [formControlName]="'flairs'"
                >
                </ng-multiselect-dropdown>
            </div>
            <div class="w-25">
                <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#addFlairModal">
                    Add new flair</button>
                <app-flair (flairValue)="handleFlairValues($event)"></app-flair>
            </div>
        </div>

        <input class="btn btn-primary btn-sm marginTopDefault pointerCursor" type="submit"
               [value]="communityId != null ? 'Save changes' : 'Create community'"
               [disabled]="createEditCommunityForm.invalid">

    </form>

</div>