<div class="container-fluid paddingPost w-60">

    <form [formGroup]="editUserDataForm" (ngSubmit)="editUserData()">

        <div class="form-row">

            <div class="form-group col-md-12">

                <div class="form-row">
                    <div class="d-flex align-items-center">
                        <div class="p-0 mr-3">
                            <img src="{{this.user.avatar}}" alt="profile image" [formControlName]="'userAvatar'"
                                 class="img-circle" style="width: 150px; height: 150px; object-fit: cover;" />
                        </div>
                        <div class="flex-grow-1 m-auto">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imagePath"
                                       (change)="onFileSelected($event)" [formControlName]="'imagePath'"
                                       name="imagePath" accept="image/*">
                                <label class="custom-file-label" id="imageLabel" for="imagePath">
                                    {{imagePathPlaceholder}}</label>
                            </div>
                        </div>
                        <button *ngIf='user.avatar !== this.defaultAvatar' class="btn btn-primary ml-3 mt-2"
                                (click)="removeAvatar()">Set default avatar</button>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">

                        <label for="userUsername">Username:</label>

                        <input class="form-control" type="text" name="userUsername" id="userUsername" [formControlName]="'userUsername'"
                               readonly="true">

                    </div>

                    <div class="form-group col-md-6">

                        <label for="userKarma">Karma:</label>

                        <input class="form-control" type="text" name="userKarma" id="userKarma" [formControlName]="'userKarma'"
                               readonly="true">

                    </div>

                </div>


                <div class="form-row">

                    <div class="form-group col-md-6">

                        <label for="userEmail">Email:</label>

                        <input class="form-control" type="text" name="userEmail" id="userEmail" [formControlName]="'userEmail'"
                               readonly="true">
                    </div>

                    <div class="form-group col-md-6">

                        <label for="userDisplayName">Display name:</label>

                        <input [ngClass]="[!editUserDataForm.get('userDisplayName').valid &&
                        editUserDataForm.get('userDisplayName').touched ? 'form-control is-invalid':'form-control']"
                               type="text" [formControlName]="'userDisplayName'" name="userDisplayName"
                               id="userDisplayName" placeholder="Display name">

                        <div *ngIf="!editUserDataForm.get('userDisplayName').valid &&
                            editUserDataForm.get('userDisplayName').touched" id="userDisplayNameFeedback" class="invalid-feedback">

                            Please provide a valid display name

                        </div>

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-12">

                        <label for="userDescription">Description:</label>

                        <textarea [ngClass]="[!editUserDataForm.get('userDescription').valid &&
                        editUserDataForm.get('userDescription').touched ? 'form-control is-invalid':'form-control']"
                                  [formControlName]="'userDescription'" id="userDescription" name="userDescription"
                                  rows="5"></textarea>

                        <div *ngIf="!editUserDataForm.get('userDescription').valid &&
                                editUserDataForm.get('userDescription').touched"
                             id="userDescriptionFeedback" class="invalid-feedback">

                            Please provide a valid description

                        </div>

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-lg-4">

                        <app-change-password></app-change-password>

                        <a class="form-control btn btn-primary marginTopDefault" data-toggle="modal"
                            data-target="#btnChangePassword">Change password</a>

                    </div>

                    <div class="form-group col-lg-4">

                        <a class="form-control btn btn-primary marginTopDefault">My communities</a>

                    </div>

                    <div class="form-group col-lg-4">

                        <input class="btn btn-primary marginTopDefault w-100" id="btnSaveChanges" type="submit"
                               [disabled]="editUserDataForm.invalid" value="Save changes">

                    </div>


                </div>

            </div>

        </div>

    </form>


</div>