<div class="col-lg-12 com-md-12 col-sm-12 col-xs-12 mb-12" id="commentList">

    <form class="inlineFlex gapNormal pointerCursor w-100" id="postComments"
          style="padding-left: 2%; padding-right: 2%;">

        <select class="form-control textAlignCenter w-25" id="flairs" name="flairs">

            <option value="" hidden></option>
            <option value="" selected>Sort by newest</option>

        </select>

        <input class="form-control" type="text" name="commentContent" id="commentContent"
               placeholder="Enter comment content">

        <span class="material-icons marginTopSmallDefault" id="postCommentButton">reply</span>

    </form>

    <div class="row marginTopDefault w-100">

        <div class="col-12">

            <div class="marginTopSmallDefault w-100">

                <app-comment-tile class="w-100" [comments]="comments"></app-comment-tile>

            </div>

        </div>

    </div>

</div>
