	<app-main [styleProperties]="{ 'justify-content': 'top', 'align-items': 'center' }">
		<app-navigation-header>
			<app-icon-black liga="bars"></app-icon-black>
			<app-image [styleProperties]="{ 'width': '50px', 'height': '50px', 'background-image': 'url(../../../assets/images/placeholder-01.jpg)' }"></app-image>
		</app-navigation-header>
		<app-stack [styleProperties]="{ 'flex-grow': '0', 'align-self': 'auto', 'min-width': '50px', 'min-height': '50px' }">
			<app-row [styleProperties]="{ 'justify-content': 'center', 'flex-grow': '0', 'align-self': 'auto', 'min-width': '50px', 'min-height': '50px' }">
				<app-image [styleProperties]="{ 'width': '350px', 'height': '260px', 'background-image': 'url(../../../assets/images/placeholder-02.jpg)' }"></app-image>
			</app-row>
			<app-row [styleProperties]="{ 'justify-content': 'center', 'flex-grow': '0', 'align-self': 'auto', 'min-width': '50px', 'min-height': '50px' }">
				<app-paragraph-black-16px [styleProperties]="{ 'width': '350px', 'min-height': '50px' }">
					In this demo screen you can see how to import and use the generated code components in your app.
				</app-paragraph-black-16px>
			</app-row>
			<app-row [styleProperties]="{ 'justify-content': 'center', 'flex-grow': '0', 'align-self': 'auto', 'min-width': '50px', 'min-height': '50px' }">
				<app-button-contained-primary>
					Okay, understood
				</app-button-contained-primary>
			</app-row>
		</app-stack>
	</app-main>
