<div class="modal fade" id="btnCreatePost" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100">Create post</h4>

            </div>

            <div class="modal-body">

                <form [formGroup]="createPostForm" (ngSubmit)="createPost()">

                    <label for="communityName">Community:</label>

                    <select [ngClass]="[!createPostForm.get('communityName').valid && createPostForm.get('communityName').touched ? 'form-control is-invalid':'form-control']" id="communityName" name="communityName"
                            [formControlName]="'communityName'">

                        <option value="" hidden></option>

                        <option *ngFor="let community of communities" value="{{community.name}}">
                            {{community.name}}</option>

                    </select>

                    <div *ngIf="!createPostForm.get('communityName').valid && createPostForm.get('communityName').touched"
                         id="communityNameFeedback" class="invalid-feedback">

                        Please select a community

                    </div>

                    <label for="title">Title:</label>

                    <input [ngClass]="[!createPostForm.get('title').valid && createPostForm.get('title').touched ?
                       'form-control is-invalid':'form-control']" type="text" name="title" id="title"
                           placeholder="Title" [formControlName]="'title'">

                    <div *ngIf="!createPostForm.get('title').valid && createPostForm.get('title').touched"
                         id="titleFeedback" class="invalid-feedback">

                        Please provide a valid title

                    </div>

                    <label for="text">Text:</label>

                    <textarea [ngClass]="[!createPostForm.get('text').valid &&
                        createPostForm.get('text').touched ? 'form-control is-invalid':'form-control']"
                              [formControlName]="'text'" id="text" name="text"
                              rows="3"></textarea>

                    <div *ngIf="!createPostForm.get('text').valid &&
                    createPostForm.get('text').touched"
                         id="textFeedback" class="invalid-feedback">

                        Please provide a valid text

                    </div>

                    <label for="flairs">Flairs:</label>

                    <select class="form-control" id="flairs" name="flairs">

                        <option value="" hidden></option>

                    </select>

                    <label style="margin-top: 7px;" for="imagePath">Image:</label>

                    <div class="custom-file">

                        <input type="file" class="custom-file-input" id="imagePath"
                               [formControlName]="'imagePath'" name="imagePath">

                        <label class="custom-file-label" id="imageLabel" for="imagePath">
                            Select image for post
                        </label>

                    </div>

                    <input class="btn btn-primary btn-sm marginTopDefault" type="submit" value="Create post"
                           [disabled]="createPostForm.invalid" style="margin-top: 21px;">

                </form>

            </div>

        </div>

    </div>

</div>