::-webkit-scrollbar {

    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {

    background-color: #FFFF;
}


::-webkit-scrollbar-thumb {

    background-color: silver;
    border-radius: 20px;
}

a {

    color: black;
    font-size: 12pt;
    font-weight: 600;
}

a:hover, a:visited, a:focus {

    text-decoration: none !important;
}

h2 {

    text-align: center;
    padding-bottom: 14px;
}

h5 {

    font-size: 12pt;
    font-weight: 600;
}

h6 {

    padding-top: 10px;
    text-align: center;
}

input {

    text-align: center;
    width:100%;
}

label{

    margin-top: 5px;
}

p {

    text-align: left;
    font-size: 12pt;
    font-weight: 300;
}

table th, table td {

    text-align: center;
    vertical-align: middle !important;
}

.w-30 {

    width: 30%;
}

.w-40 {

    width: 40%;
}

.w-60 {

    width: 60%;
}

.w-80 {

    width: 80%;
}

.w-90 {

    width: 90%;
}

.black {

    color: black;
}

.red {

    color: red;
}

.green {

    color: green;
}

.blue {

    color: dodgerblue;
}

.dirty-white {

    background-color: #F8F9FA;
}

.material-icons {

    color: #00000080;
}

.silver {

    color: silver;
}

.star {

    color: silver;
}

.heart {

    margin-top: 7px;
    margin-bottom: 7px;
    display:inline-block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-image: radial-gradient(silver 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.heart:hover {

    border-image: radial-gradient(cornflowerblue 69%,#0000 70%) 84.5% fill/100%;
    cursor: pointer;
}

.hover-effect:hover .material-icons {

    color: cornflowerblue;
}

.hover-effect:hover #communityName {

    color: cornflowerblue;
}

.material-icons:hover, .inlineFlexNav:hover{

    color: cornflowerblue;
}

#postComments:hover .material-icons {

    color: cornflowerblue;
}

#postComments:hover #commentCounter {

    color: cornflowerblue;
}

.smallBtn:hover {

    fill: cornflowerblue;
    cursor: pointer;
}

.bold {

    font-size: 14pt;
    font-style: initial;
}

.btn-group {

    margin-right: 10px;
}

.btn-light {

    position: relative;
}

.cardButtons {

    gap: 12px;
    display: flex;
}

.card-header {

    padding: 5px;
    height: 34px;
}

.checked {

    color: cornflowerblue;
}

.center {

    overflow: hidden;
    margin: auto;

}

.col-1 {

    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;

}

.custom-file-input, textarea {

    margin-top: 5px;
}

.date-text {

    font-size: 12pt;
    font-weight: 200;
}

.flair-button {

    height: 24px;
    margin-right: 5px;
}

.img-responsive {

    margin: 15px;
    width: 45%;
    height: 45%;
    object-fit: fill;
}

.rating {

    margin-bottom: 10px;
    gap: 5px;
}

.table-bordered {

    display: table;
    margin: 0;
}

.title {

    vertical-align: baseline;


}

.paddingNormal {

    padding: 5%;
}

.paddingSmall {

    padding: 3%;
}

.paddingPost {

    padding-top: 20px;
}

.floatRight {

    float: right;
    right: -7px;
}

.inlineFlex, .inlineFlexNav {

    display: inline-flex;
}

.gapSmall {

    gap: 5px;

}

.postHeader {

    font-size: 11pt;
    font-style: inherit;
    font-weight: 500;
}
.pointerCursor {

    cursor: pointer;
}

.gapNormal {

    gap: 10px;
}

.alignLeft {

    margin-left: 15px;
    align-items: start;
    justify-content: start;
}

.alignCenter {

    align-items: center;
    justify-content: center;
}

.alignRight {

    align-items: end;
    justify-content: end;
}

.flexCenter {

    display: flex;
    justify-content: center;
}

.marginsDefault {

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.marginTopDefault {

    margin-top: 15px;
}

.marginRightDefault {

    margin-right: 15px;
}

.marginTopSmallDefault {

    margin-top: 5px;
}

.navBarLogoImageSize {

    width: 40px;
    height: 40px;
}

.removeMarginFormControl {

    margin-top: -75px;
}

.scrollable {

    max-height: 75vh;
    overflow-y: scroll;
}

.smallBtn {

    margin-top: 7px;
    margin-bottom: 7px;
    width: 24px;
    height: 24px;
}

.textAlignCenter {

    text-align: center;
}

.vertical-center {

    min-height: 90vh;
    align-items: center;
}

#arrow-left, #arrow-right {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

#arrow-left:hover, #arrow-right:hover {

    border-radius: 100%;
    background: darkgray;
    cursor: pointer;
}
.postContainer {

    min-height: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

/* NEW */